h1{
    text-align: center;
    background-image: linear-gradient(to right, rgb(224, 224, 17), rgb(226, 30, 30),rgb(224, 224, 17));
}

h1:hover{
    background-image: linear-gradient(to right,rgb(226, 30, 30),rgb(224, 224, 17), rgb(226, 30, 30));
    transition: all, 5s, ease-in-out;
}

main p{
    font-size:24px;
    color: brown;
}

footer img{
    height: 200px;
    width: 300px;
    border: 4px solid purple;
}
footer img:hover{
    height: 300px;
    width: 400px;
    transition: all 5s ease-in-out;
}
